* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.body__container {
    display: grid ;
    gap: 40px;

}


.header__logo--size{
    width: 100px;

}

.header__logo{
    display: flex;
    justify-content: center;
}

.header__nav{
    background-color: #1b1c1e !important
}




.header--stiky, .navbar{

    position: sticky !important; 
    top: 0px;
    color: #f2f2f2;
    opacity: 10;
    z-index: 2;
}

.nav--bg{
    background-color: #0a56ef;
    
}
.nav-link{
    color: aliceblue;
    
}
.carousel, .carousel-item, .img {
    z-index: 0;
}  
    


.dropdown-item {
    color: #f2f2f2;
}

.dropdown-menu {
    background-color: #1b1c1e;
    
}

.btn {
    background-color: #1b1c1e;
    color: #f2f2f2;
}

/* Estructura */

.body__container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr 300px  120px ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header header"
      "Main Main Main Main Main Main"      
      "Section Section Section Section Section Section"
      "Footer Footer Footer Footer  Footer Footer";
  }
  
  .header { grid-area: header; }
  
  .main { grid-area: Main; }
  
  .footer { grid-area: Footer; }
  
  .section { grid-area: Section; }

.footer {
    display: flex;
    
}
  

/* Indice */

@media (min-width: 900px) {
#carouselExampleRide {
    width: 50%;
    margin: 0 auto;
    

}
.carousel, .img {
    
    height: 350px;

}}

@media (min-width: 763px) {

}

.section--bg {
    background-color: #8e9090;  
    
}



.card-map{
    display: flex;
    align-items: stretch ;
    height: 250px ;
    width: 510px   

}

.card-body{    
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top:30px ;
}

.card--text {
    color: #1b1c1e ;
    
}

.litle {
    font-size: 10px;
    font-weight: 200;
    
}




.footer--bg__red{
    background-color: #7f0000;
}

.card-img-container{
    display: flex;
    flex-direction: column;   
     

}

.card-container {
    display: flex;
    gap: 3000px;
}

.img__cards {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.card-container1{
    background-color: #1b1c1e;
}

